* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffaff0, #bb02ff);
}
.container {
  width: 1140px;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container .card {
  position: relative;
  width: 300px;
  border-radius: 20px;
  margin: 20px;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
}

.container .card .circle {
  background: black;
  width: 100%;
  height: 100%;
  clip-path: circle(180px at center 0);
  position: relative;
  text-align: center;
}

.circle h1 {
  color: white;
  padding: 30px 0px;
}

.container .card .content {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

button {
  display: block;
}

.card {
  filter: blur(10px);
}

.card a {
  border-radius: 20px;
  width: 100px;
  padding: 10px;
  display: inline-block;
  margin: 10px 0px;
  color: white;
}
.container .card:nth-child(1) .circle,
a {
  background-color: cadetblue;
}
.container .card:nth-child(2) .circle,
a {
  background-color: orangered;
}
.container .card:nth-child(3) .circle,
a {
  background-color: crimson;
}

.container:hover .card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.container .card:hover {
  filter: none;
  transform: scale(1.1);
  opacity: 1;
}
